<div class="flex-grow m-5">
  <form #createTicketForm="ngForm" (ngSubmit)="onSubmitCreateTicket(createTicketForm)" class="max-w-sm mx-auto">
    <div class="mb-5">
      <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Titre</label>
      <input ngModel required name="title" type="text" id="title" [(ngModel)]="ticket.title" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>

    <div class="mb-5">
      <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Description</label>
      <input ngModel required name="description" type="text" id="description" [(ngModel)]="ticket.description" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>

    <div class="mb-5">
      <label for="author" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Auteur</label>
      <input ngModel required name="author" type="text" id="author" [(ngModel)]="ticket.author" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>

    <div class="flex justify-center">
      <button [disabled]="!createTicketForm.valid" type="submit" class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Créer</button>
    </div>
  </form>

  <div class="flex flex-wrap justify-center gap-5 mt-5">



    <div *ngFor="let el of tickets; index as i; first as isFirst"
      class="max-w-sm flex flex-col p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
      <a class="flex-grow" routerLink="/tickets/detail/{{el._id}}">
        <div class="flex-grow">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            {{el.title}} - {{el.author}}
          </h5>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            Créée le {{ el.createdAt | date: 'dd MMMM yyyy, HH:mm:ss'}}
          </p>

          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            {{el.description}}
          </p>
        </div>
      </a>


      <div class="flex justify-between">
        <a (click)="deleteTicket(el._id)">
          <div class=" flex justify-end">
            <button class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Supprimer</button>
          </div>
        </a>

        @if (el.state === 'Fermé') {
        <a (click)="openTicket(el._id)">
          <div class=" flex justify-end">
            <button class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Réouvrir</button>
          </div>
        </a>
        }


        @if (el.state === 'Ouvert') {
        <a routerLink="/tickets/update/{{el._id}}">
          <div class=" flex justify-end">
            <button class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Modifier</button>
          </div>
        </a>
        <a (click)="closeTicket(el._id)">
          <div class=" flex justify-end">
            <button class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Fermer</button>
          </div>
        </a>
        }
      </div>
    </div>
  </div>
</div>