<div class="flex-grow m-5">
  <form [formGroup]="createTicketForm" (ngSubmit)="onSubmitCreateTicket()" class="max-w-sm mx-auto">
    <div class="mb-5">
      <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Titre*</label>
      <input formControlName="title" type="text" id="title" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      <div *ngIf="createTicketForm.get('title')?.invalid && createTicketForm.get('title')?.touched" class="mt-2 text-sm text-red-600 dark:text-red-500">
        <div *ngIf="createTicketForm.get('title')?.hasError('required')">Le titre est requis.</div>
        <div *ngIf="createTicketForm.get('title')?.hasError('length')">La longeur doit être supérieur à 3 caractères.</div>
      </div>
    </div>

    <div class="mb-5">
      <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Description*</label>
      <input formControlName="description" type="text" id="description" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      <div *ngIf="createTicketForm.get('description')?.invalid && createTicketForm.get('description')?.touched" class="mt-2 text-sm text-red-600 dark:text-red-500">
        <div *ngIf="createTicketForm.get('description')?.hasError('required')">La description est requise.</div>
      </div>
    </div>

    <div class="mb-5">
      <label for="author" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Auteur*</label>
      <input formControlName="author" type="text" id="author" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      <div *ngIf="createTicketForm.get('author')?.invalid && createTicketForm.get('author')?.touched" class="mt-2 text-sm text-red-600 dark:text-red-500">
        <div *ngIf="createTicketForm.get('author')?.hasError('required')">L'auteur est requis.</div>
      </div>
    </div>

    <div class="flex justify-center">

      <button [disabled]="!createTicketForm.valid" [ngClass]="{ 'opacity-50 cursor-not-allowed': !createTicketForm.valid }" type="submit" class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Créer</button>
    </div>
  </form>


  <div class="flex flex-wrap justify-center gap-5 mt-5">



    <div *ngFor="let el of tickets; index as i; first as isFirst"
      class="max-w-sm flex flex-col p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
      <a class="flex-grow" routerLink="/tickets/detail/{{el._id}}">
        <div class="flex-grow">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            {{el.title}} - {{el.author}}
          </h5>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            Créée le {{ el.createdAt | date: 'dd MMMM yyyy, HH:mm:ss'}}
          </p>

          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            {{el.description}}
          </p>
        </div>
      </a>


      <div class="flex justify-between">
        <a (click)="deleteTicket(el._id)">
          <div class=" flex justify-end">
            <button class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Supprimer</button>
          </div>
        </a>

        @if (el.state === 'Fermé') {
        <a (click)="openTicket(el._id)">
          <div class=" flex justify-end">
            <button class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Réouvrir</button>
          </div>
        </a>
        }


        @if (el.state === 'Ouvert') {
        <a routerLink="/tickets/update/{{el._id}}">
          <div class=" flex justify-end">
            <button class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Modifier</button>
          </div>
        </a>
        <a (click)="closeTicket(el._id)">
          <div class=" flex justify-end">
            <button class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Fermer</button>
          </div>
        </a>
        }
      </div>
    </div>
  </div>

</div>